<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>

  <body style="background: #f2f4f6; font-family: 'IBM Plex Sans Thai', sans-serif; font-size: 16px; min-height: 100vh; padding: 62px 10px; margin: 0; box-sizing: border-box">
    <div style="margin-bottom: 20px; text-align: center;">
      <img src="https://nrc-radiostation.xcoshop.com/img/logo/logo-nrc.png" style="width: 120px" alt="" />
    </div>
    <div style="background: #ffffff; border-radius: 10px; margin: 0 auto; width: 556px; max-width: 100%; padding: 33px 22px 20px 20px; box-sizing: border-box; border-radius: 10px; ">
      <div style="margin: 0 auto; max-width: 100%; box-sizing: border-box; border-radius: 10px; ">
        <div style="color: #343A40; font-size: 16px; font-weight: 600; margin-bottom: 12px">เจ้าหน้าที่ได้รับเรื่องของคุณแล้ว</div>
        <div style="color: #343A40; font-size: 16px; font-weight: 600; margin-bottom: 12px">เลขที่การแจ้งเรื่องของคุณคือ {{case_id}}</div>
        <div style="color: #343A40; font-size: 16px; margin-bottom: 12px">เรื่อง : ฉันต้องการรายงานเนื้อหาที่ไม่เหมาะสม</div>
        <div style="color: #343A40; font-size: 16px; margin-bottom: 59px">สร้างเมื่อ : {{date}}</div>
        <div style="font-size: 16px; color: #6C757D;">หากคุณพบปัญหาใด ๆ โปรดติดต่อฝ่ายบริการลูกค้า: <label><a href="mailto:support@nrc.com"  style="color:#e02020; text-decoration: none;" target="_blank">support@nrc.com</a></label></div>
      </div>
    </div>
  </body>
</html>