<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <body style="background: #f2f4f6; font-family: 'IBM Plex Sans Thai', sans-serif; font-size: 16px; min-height: 100vh; padding: 35px 10px; margin: 0; box-sizing: border-box">
    <div style="text-align: center; margin-bottom: 25px">
      <img src="https://nrc-radiostation.xcoshop.com/img/logo/logo-nrc.png" style="width: 120px" alt="LROC" />
    </div>
    <div style="background: #ffffff; border-radius: 16x; margin: 0 auto; width: 750px; max-width: 100%; padding: 20px; box-sizing: border-box">
      <img src="https://nrc-management.xcoshop.com/email/invite_topic.png" style="width: 100%; margin-bottom: 8px" alt="Invite you to join" />
      <div style="font-family: 'IBM Plex Sans Thai'; font-size: 16px; font-weight: 600; color: #343a40">คุณ {{first_name}}&nbsp;{{last_name}} &nbsp;ได้เชิญคุณเข้าร่วม&nbsp;ระบบจัดการ&nbsp;LROC&nbsp;รายการ&nbsp;{{channel}}</div>
      <div style="font-family: 'IBM Plex Sans Thai'; font-size: 16px; font-weight: 600; color: #343a40">ในตำแหน่ง ทีมงานสถานี</div>
      <a href="https://nrc-radiostation.xcoshop.com/signups/activeInviteLink/{{unique_link}}/{{email}}/{{value_type}}" target="_blank" style="background: #e02020; color: white; display: inline-block; border-radius: 4px; text-decoration: none; width: 235px; text-align: center; padding: 6px 5px 4px; box-sizing: border-box; max-width: 100%; margin: 25px 0">เริ่มต้นใช้งาน</a>
      <div style="color: #6c757d">การเปลี่ยนรหัสผ่านจะต้องดำเนินการภายใน 48 ชั่วโมงนับจากวันเวลาที่แจ้งคำขอ</div>
      <div style="color: #6c757d">หากมีผู้แอบอ้าง ใช้อีเมลของคุณเพื่อลงทะเบียนกรุณาติดต่อเราที่</div>
      <div><a href="mailto:support@nrc.com" style="color: #e02020; text-decoration: none">support@nrc.com</a></div>
    </div>
  </body>
</html>
