<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <body style="background: #f2f4f6; font-family: 'IBM Plex Sans Thai', sans-serif; font-size: 16px; min-height: 100vh; padding: 62px 10px; margin: 0; box-sizing: border-box">
    <div style="margin-bottom: 20px; display: flex; justify-content: center;">
      <img src="https://nrc-radiostation.xcoshop.com/img/logo/logo-nrc.png" style="width: 120px" alt="" />
    </div>
    <div style="background: #ffffff; border-radius: 10px; margin: 0 auto; width: 556px; max-width: 100%; padding: 33px 22px 20px 20px; box-sizing: border-box; border-radius: 10px; ">
      <div style="color: #141414; font-size: 30px; font-weight: 600; margin-bottom: 18px">Verify your email</div>
      <div style="color: #343A40; font-size: 16px; font-weight: 600; margin-bottom: 8px">เหลืออีกเพียงขั้นตอนเดียวเท่านั้น! คลิกปุ่มด้านล่างเพื่อยืนยันว่าที่อยู่อีเมลนี้เป็นของคุณ</div>

      <a href="{{LINK}}" style="text-decoration: none; font-size: 18px; color: #fff;background: #E02020; border-radius: 6px; width: 236px; height: 38px; display: flex; justify-content: center; align-items: center; margin-bottom: 13px; border: 0px; cursor: pointer;">Verify email</a>

      <div style="font-size: 16px; color: #343A40;">หรือ</div>
      <a href="{{LINK}}" style="font-size: 16px; color: #0064FF; font-weight: 600;">{{LINK}}</a>

      <div style="font-size: 16px; color: #E02020; margin-top: 18px;">หมายเหตุ!</div>
      <div style="font-size: 16px; color: #6C757D; margin-bottom: 34px">ลิงก์นี้ใช้ได้ภายใน 24 ชั่วโมงหลังจากนี้</div>

      <div style="font-size: 16px; color: #6C757D;">หากคุณพบปัญหาใด ๆ โปรดติดต่อฝ่ายบริการลูกค้า: <label style="color: #E02020;">support@nrc.com</label></div>
      
    </div>
  </body>
</html>